/* Blog.css */
.blog {
  padding: 60px 80px;
  background-color: #111827;
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.blog h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}
.blog-title{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 3rem;
  background: linear-gradient(to right, #7c3aed, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.blog-post {
  background-color: rgba(30, 41, 59, 0.5);
  border: 1px solid #2e374a;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  padding: 0;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
  transform: translateY(-8px);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-bottom: 1px solid #2e374a;
}

.blog-post h3 {
  font-size: 1.2rem;
  margin: 15px;
}

.blog-post p {
  font-size: 0.95rem;
  margin: 0 15px 15px;
  color: #cbd5e1;
}

.medium-link {
  display: inline-block;
  background: linear-gradient(to right, #7c3aed, #ec4899);
  border: none;
  border-radius: 30px;
  background-color: #1e293b;
  color: #f1f5f9;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.medium-link:hover {
  background: #974ece;
}

@media (max-width: 640px) {
  .blog h2 {
    font-size: 1.5rem;
  }

  .blog-post h3 {
    font-size: 1rem;
  }

  .blog-post p {
    font-size: 0.85rem;
  }

  .medium-link {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .blog-image {
    height: auto;
    aspect-ratio: 16/9;
  }
}
