* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #0f172a; /* match your Hero section bg */
  overflow-x: hidden; /* prevents horizontal white space */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
